.populares {
  padding: 3rem 1rem;
}

.populares__cabecalho {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
}

.populares__titulo {
  font-weight: bold;
  color: #303030;
  padding-bottom: 5px;
}

.populares__botao {
  background: transparent;
  border: none;
  color: #303030;
}

.populares__icone {
  margin-right: 5px;
}

.populares__conteudo {
  display: flex;
  flex-wrap: wrap;
  grid-area: conteudo;
  padding: 1rem 0;
  width: 100%;
  justify-content: center;
}

.populares__card {
  display: grid;
  grid-template-areas:
    "card-imagem"
    "card-corpo";
  grid-template-columns: 100%;
  grid-template-rows: 200px auto;
  background: #fdfdfd;
  margin-right: 1rem;
  width: calc(20% - 1rem);
}

.populares__card:last-child {
  margin-right: 0;
}

.populares__card___imagem {
  grid-area: card-imagem;
  height: 100%;
  width: 100%;
}

.populares__card___corpo {
  display: grid;
  grid-area: card-corpo;
  grid-template-areas:
    "card-cabecalho"
    "card-conteudo";
  grid-template-rows: 50px auto;
  row-gap: 0.5rem;
  padding: 0.75rem;
}

.populares__card___titulo {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 5px;
}

.populares__card___data {
  font-size: 0.9rem;
  color: #808080;
}

.populares__card___descricao {
  color: #333333;
  text-align: justify;
  line-height: 1.5rem;
  margin: 1rem 0;
}
