* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px red dotted; */
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

a:hover,
button:hover {
  cursor: pointer;
}
