@media screen and (min-width: 0) {
  .destaques__principal,
  .destaques__categorias {
    grid-column: 1 / 5;
  }

  .destaques__secundario:nth-child(2),
  .destaques__secundario:nth-child(3),
  .destaques__secundario:nth-child(4),
  .destaques__secundario:nth-child(5) {
    display: none;
    grid-column: none;
    grid-row: none;
  }

  .populares__conteudo {
    flex-direction: column;
  }

  .populares__card {
    grid-template-rows: 150px auto;
    width: 100%;
    margin-bottom: 2rem;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .populares__conteudo {
    flex-direction: row;
    gap: 1rem;
  }

  .populares__card {
    width: calc(50% - 0.5rem);
  }
}

@media screen and (min-width: 992px) {
  .populares__card {
    width: calc(33% - 0.5rem);
  }
}

@media screen and (min-width: 1440px) {
  .destaques__principal {
    grid-column: 1 / 4;
  }

  .destaques__secundario:nth-child(2) {
    display: flex;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
  }
  .destaques__secundario:nth-child(3) {
    display: flex;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
  }
  .destaques__secundario:nth-child(4) {
    display: flex;
    grid-column: 4 / 4;
    grid-row: 3 / 3;
  }
  .destaques__secundario:nth-child(5) {
    display: flex;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
  }
  .destaques__categorias {
    grid-column: 1 / 3;
  }

  .populares__card {
    grid-template-rows: 200px auto;
    width: calc(20% - 0.8rem);
  }
}
