.app {
  background: #f1f1f1;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto;
}

.cabecalho {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.conteudo {
  grid-area: main;
  padding: 0 2rem;
}

.rodape {
  grid-area: footer;
  background-color: #fdfdfd;
  color: #333333;
  font-size: 0.8rem;
  padding: 1rem 0;
  text-align: center;
}
