.app {
  background: #f1f1f1;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto;
}

.cabecalho {
  grid-area: header;
}

.conteudo {
  grid-area: main;
}

.rodape {
  grid-area: footer;
}
